name: Docker Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: |
        docker build -t myapp .

    - name: Stop Old Container (if exists)
      run: |
        if [ "$(docker ps -q -f name=myapp)" ]; then
          docker stop myapp;
        fi
        if [ "$(docker ps -aq -f name=myapp)" ]; then
          docker rm myapp;
        fi

    - name: Run New Container
      run: |
        docker run -d \
          --name myapp \
          -p 3000:3000 \
          --restart always \
          myapp
